.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;  
}

.normal {
    background-color:#9099A1;
}

.fire {
    background-color:#FC6D21;
}

.water {
    background-color:#4D90D5;
}

.grass {
    background-color:#48e3bfd1;
}

.flying {
    background-color:#cbd5e8;
}

.fighting {
    background-color:#D24066;
}

.poison {
    background-color:#C596BD;
}

.electric {
    background-color:#f1b714bf;
}

.ground {
    background-color:#DE7B4D;
}

.rock {
    background-color:#808080;
}

.psychic {
    background-color:#F97176;
}

.ice {
    background-color:#74CEC0;
}

.bug {
    background-color:#90C12C;
}

.ghost {
    background-color:#5269AC;
}

.steel {
    background-color:#5A8EA1;
}

.dragon {
    background-color:#096DC4;
}

.dark {
    background-color:#5A5366;
}

.fairy {
    background-color:#EC8FE6;
}


.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    
}

.pokemon .number {
    color: #000;
    opacity: 0.3;
    text-align: right;
}

.pokemon .name {
    color: #fff;
    margin-bottom: 0;
    text-transform: capitalize;

}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemons .detail img {
    max-width: 100%;
    height: 70px;
    align-self: flex-end;
    
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6C7ADD;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    
}

.popup{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #859596;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#closeBtn{
    position: absolute;
    top: 20px;
    right: 30px;
    border-radius: 2rem;
}

button{
    background-color: #0000003d;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 3px;
    transition: transform 100ms;
    cursor: pointer;
}

#details{
    
    border-radius: 8px;
    padding: 0.3rem;
    
}

#top{
    height: 40%;
    text-align: center;
    font-size: 50px;
    text-transform: capitalize;
}

#pokemon{
    text-align: center;
}

#pokemon-img{
    margin-left: 100px;
    width: 10rem;

}


#data{
    background-color: #ffff;
    height: 22rem;
    width: 22rem;
    border-radius: 6px;
    box-shadow: 0 -13px 22px -7px #5c5c5c;
}


#data h4{
    text-align: center;
}

#stats{
    
    display: flex;
    width: 100%;
    font-size: 0.8rem;
    gap: 0.6rem;
    margin: 0 0 0 80px;
    color: black;
    
  
}

.stats-hw{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 80px;
    
}

.stats-hw p{
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px gray;
    font-size: 0.8rem;
}

.stat-desc{
    width: 10%; 
    font-weight: bold;
    text-align: right;
    padding-right: 0.6rem;
    color: black;
    
   
}

.stat-bar{
    width: 50%;
    display: flex;
    align-items: center;
}


.bar-inner{
   width:30% ;
   padding-right: 0.6rem;
   border-radius: 4px;
   border-right:2px solid rgb(90, 88, 88) ;
    
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
  }

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
  }

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }